.load-status {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.left-body{
  width: 400px;
  padding-left: 50px;
  padding-right: 60px;
}

.header{
  height: 50px;
}

.price{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #D9D9D9;
  margin-top: 30px;
  height: 250px;
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  align-items: center;

}

.price-status{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  width: 180px;
  height: 70px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.middle-body{
  width: 1300px;
}

.right-body{
  width: 100px;
}


.status-body{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 200px;
}

.status-block{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  padding: 10px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.meter-body{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-top: 40px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
  width: 1200px;
  height: 1300px;
}

.sub-meter-body{
  display: flex;
  flex-direction: row;
}

.meter-block{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 280px;
  margin: 20px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  align-items: center;
}
.graph{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 640px;
  height: 450px;
  margin: 20px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  align-items: center;
}

.status-update{
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  margin-top: 20px;
}

.text-update{
  margin-right: 50px;
}

.button-body{
  width: 800px;
  height: 0px;
  display: flex;
  justify-content: flex-end;
}

.button-change{
  position: absolute;
  top:270px;
  width: 20px;
  height: 50px;
}

.circle {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}

.unit{
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 180px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}