.load-status {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 60px;
  width: 100%;
}

.left-body{
  width: 600px;
}

.header{
  position: absolute;
  margin-left: 5%;
}


.body{
  display: flex;
  flex-direction: column;

}

.status-body{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 200px;
}

.status-block{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  padding: 10px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.meter-body{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
  width: 1000px;
  height: 800px;
}

.sub-meter-body{
  display: flex;
  flex-direction: row;
}

.meter-block{
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;

}